<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="styles/chat.css">
</head>
<body>
    <div class="container">
        <h2>Chat Room: <span id="room-name"></span></h2>
        <div id="messages"></div>
        <input type="text" id="message" placeholder="Type a message" />
        <button id="sendMessage">Send</button>
        <button id="leaveChat">Leave Chat</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/chat.js"></script>
</body>
</html>
